<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">weatherby</h3>
</div>

<div class="jumbotron" ng-controller="ZipFormCtrl">
  <form novalidate class="simple-form">
    <div class="row">
      <label for="zipCode">Enter your zip code:</label>
      <input type="text" class="form-control" id="zipCode" placeholder="Zip" ng-model="location.zipCode" /><br />
      <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
      <button type="button" class="btn btn-primary" ng-click="submit(location)">Submit</button>
    </div>
    <div class="row">
      <br/>
      <p class="lead" ng-model="weather">{{weather.forecast}}</p>
<!--       <p>{{weather.forecastday[0].fcttext}}</p>
      <p class="lead">{{weather.forecastday[1].title}}</p>
      <p>{{weather.forecastday[1].fcttext}}</p> -->
    </div>
    </form>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>


<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
